* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
}

header nav {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 4; /*NO SE PORQUE NO FUNCIONA EL STICKY*/
}

.navbar div {
    background-color: rgba(241, 156, 121,0.8);
    padding-bottom: 15px;
}

.navbar img {
    width: 100px;
}



/*FOTO GIGANTE DEL MEDIO*/





/*3 items del medio*/

.tres-items {
    margin: 0 auto;
    margin-top: 50px;
}

.tres-items div {
    text-align: center;
}
.tres-items div p {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.tres-items img {
    background-color: gray;
}

/*INTEL O AMD*/

.intel-amd {
    padding: 20px 20%;
}

.intel-amd img {
    width: 400px;
    height: 400px;
}

.intel-amd a {
    text-align: center;
    text-decoration: none;
}

.text-amdintel {
    font-size: 2rem;
}


/*SUSCRIBITE A NEWSLETTER*/

.newsletter {
    background-color: rgba(128, 128, 128, 0.3);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 30px;
}

.text1 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.text2 {
    font-size: 20px;
    text-align: center;
}


.emailynombre {
    background-color: rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 25px;
    padding-bottom: 80px;
}

@media (min-width: 768px) {
    .emailynombre {
        flex-direction: row;
    }


    .text1 {
        font-weight: bold;
        font-size: 70px;
        text-align: center;
    }
    
    .text2 {
        font-size: 30px;
        text-align: center;
    }
}

.emailynombre input {
    height: 30px;
    width: 150px;
} /*NO SE COMO HACER PARA QUE ESTEN CENTRADOS LOS INPUTS*/


/*FOOTER*/

footer {
    background-color: rgba(128, 128, 128, 0.76);
    padding-top: 10px;
    padding-bottom: 20px;
} 

.menu-del-footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    list-style-type: none;
}

@media (min-width: 768px) {
    .menu-del-footer ul {
        flex-direction: row;
        gap: 5rem;
    }
}

.menu-del-footer li {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.menu-del-footer a {
    text-decoration: none;
    color: black;
}


/*fin de pagina*/

.piedepag {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 30px;
    padding-bottom: 40px;
}

.piedepag p {
    font-style: italic;
}

/*catalogo*/

.fila1 {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
} /*ME GUSTARIA SABER SI HAY OTRA FORMA DE HACER ESTO O ES LA FORMA MAS EFICIENTE LA QUE USE*/



.card1 {
    background-color: rgba(57, 57, 58,0.7);
    border: solid 4px black;
    width: 400px;
    height: 500px;

    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}


.card1 img {
    width: 250px;
    display: block;
    display: block;
    margin: 20px auto;
}

.card1 p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}


/*ARMA TU PC*/

.container-sidebar {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
margin-bottom: 100px;
}

.container-sidebar img {
width: 350px;
margin: 0 100px;
}

.sidebar {
    width: 25%;
}



/*DONDE ESTAMOS*/


.contenedor-mapa {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}



/*CONTACTO*/

.formulario {
    margin: 300px;
} /*no se bien como separar los items aca, se me ocurre usar position relative y absolute pero le tendria que dar muchas partes al css y no se si hay una forma mas facil, o con flex tal vez*/




/*FLOTANTE DE WPP*/

.Flotante-Whatsapp {
    position: fixed;
    bottom: 0px;
    right: 40px;
}

.Flotante-Whatsapp2 {
    width: 80px;
}