
.container-sidebar {

margin-top: 150px;
margin-bottom: 150px;

@include flex-column-centrado;
gap: 70px;

@media (min-width: 768px) {
    flex-direction: row;
    
}
    img {
        width: 150px;

        @media (min-width: 768px) {
            width: 250px;
        }
    }
}


.sidebar {
    width: 25%;
}